<% include ../partials/header %>

<h1>This is the login page</h1>

<div>
    <a class="ui button small red" href="/auth/logout">Go to logout page</a>
    <a class="ui button small orange" href="/auth/google">Go to google login</a>
</div>

<div>
    <a class="ui button blue" href="/">Return to Landing page</a>
</div>


<% include ../partials/footer %>