<% include ../partials/header %>

<h1>This is the cart page!</h1>

<h3>Here are the items:</h3>

<% if(foodItems !== null){ %>
<% for(var i = 0; i < foodNames.length; i++){ %>
<div>
    <%= foodNames[i] %> <a href="cart/delete/<%= foodItems[i].id %>" class="ui button red">Delete</a>
</div>
<% } %>
<a class="ui button green" href="/diet/create">Create a diet</a>
<% } %>

<div>
    <a href="/" class="ui button small blue">Go back to landing page</a>
</div>

<% include ../partials/footer %>