#infoScreen{
    width: 80%;
    margin: 10px 10%;
    padding: 0 20px;
    height: 400px;
    border-radius: 10px;
    background: rgba(63, 103, 163, 0.205);
}

#title{
    text-align: center;
}

.daySpace{
    text-align: center;
    font-weight: bold;
    height: 150px;
    background: rgba(136, 13, 115, 0.466);
    border-radius: 5px;
    margin: 20px auto;
    margin-bottom: 40px;
    display: inline-block;
}

#dayHolder{
    text-align: center;
}