<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Database Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


</head>

<body>
    <div class="ui secondary menu">
        <a class="active item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        <div class="right menu">
            <div class="item">
                <form action="/datasearch" method="POST">
                    <div class="ui icon input">
                        <input name="Shrt_Desc" type="text" placeholder="Search...">
                        <i type="submit" class="search link icon"></i>
                    </div>
                </form>     
            </div>
            <a class="ui item" href="/auth/login">
                Login
            </a>
            <a class="ui item" href="/auth/logout">
                Logout
            </a>
        </div>
    </div>

    <div class="ui container">