.login-container{
   background-color: beige;
    padding:20px 30px 30px;
    width: 550px;
    height:400px;
    position:absolute;
    left:30%;
    top:30%;
    box-shadow: 10px 10px 5px grey;
}
#bgVideo {
  position: absolute; // Play the video in full screen mode
  top: 0px; 
  left: 0px; 
  min-width: 100%; 
  min-height: 100%;
  z-index: -1; // Put the video behind all other elements
}

@media only screen and (max-width: 768px) {
  video {
    display:none;
  }
  body{
    background-image:url(“dog.jpg”);
  }
}