<% include ./partials/header %>

    <% docs.forEach(function(item){ %>
        <div>
            <div><%= item.Shrt_Desc %></div>
            <a class="ui button blue small" href="/datasearch/NDB/<%= item.NDB_No %>">Details</a>
        </div>
        <div class="ui divider"></div>
    <% }); %>
    
</body>
</html>

<% include ./partials/footer %>