<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% docs.forEach(function(item){ %>
        <div>This is <%= item.Shrt_Desc %></div>
    <% }); %>
    
</body>
</html>