<% include ./partials/header %>
    
    <form action="/datasearch" method="POST">
        <div class="ui input">
            <input id="test" type="text" placeholder="NDB_No" name="NDB_No" >
        </div>
        <div class="ui input">
            <input type="text" placeholder="Name" name="Shrt_Desc">
        </div>
        <input class="ui green button" type="submit" value="Submit">
    </form>

    <!-- User scripts -->
    <script type="text/javascript" src="./javascript/test.js"></script>

<% include ./partials/footer %>