<% include ./partials/header %>

    <% result.forEach(function(item){ %>
        <div>
            <div><%= item.Long_Desc %></div>
            <a class="ui button blue small" href="/datasearch/NDB/<%= item.NDB_No %>">Details</a>

            <% if(user){ %>
            <a class="ui button green small" href="/cart/add/<%= item.NDB_No %>">Add to cart</a>
            <% } %>

        </div>
        <div class="ui divider"></div>
    <% }); %>
    
    <a href="/datasearch" class="ui button orange">Go back to search</a>

<% include ./partials/footer %>