<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Nutri+</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--sidebar-->
    <div id="nav-placeholder"></div>
    <script>
    $(function(){
      $("#nav-placeholder").load("navigation.html");
    });
    </script>
    <!--end of sidebar-->
      <div class="pusher" style="margin-left: 23%; margin-top: 3%; margin-right: 13%; margin-bottom: 3%">
        Dog Nutri Website Content
      </div>
    </div>
  </body>
</html>