<!--Template page for full recipe when user clicks on cards-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Name | DogNutri+</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--sidebar-->
    <div id="nav-placeholder"></div>
    <script>
    $(function(){
      $("#nav-placeholder").load("navigation.html");
    });
    </script>
    <!--end of sidebar-->
      <div class="pusher" style="margin-left: 23%; margin-top: 3%; margin-right: 13%; margin-bottom: 3%">
        <div class="ui container">
            <img class="ui left image" src="img-default-placeholder.png">
            <h1 class="ui header">Roast Turkey</h1>
            <div class="sub header">By Anonymous</div>
            <div class="ui segment">
                    <div class="ui two column very relaxed grid">
                      <div class="column">
                        <p>Weight Range: 55-70 lbs</p>
                        <p>Calories: 11235 kcal</p>
                      </div>
                      <div class="column">
                        <p>Difficulty: Easy</p>
                        <p>Preparation Time: 7 days</p>
                      </div>
                    </div>
                    <div class="ui vertical divider">
                    </div>
                  </div>
            <h2>Description</h2>
            <div class="ui divider"></div>
                <p>Short description of recipe. Maecenas ac velit non enim vestibulum egestas 
                    ut ut risus. Fusce rhoncus mauris eget eros consequat, et egestas lorem 
                    accumsan. Mauris tincidunt lectus eget orci malesuada scelerisque. </p>
            <h2>Ingredients</h2>
            <div class="ui divider"></div>
            <ul>
                <li>A live turkey</li>
                <li>Herbs and spices</li>
                <li>Lemon</li>
                <li>Oven</li>
                <li>A very sharp knife</li>
            </ul>
            <p></p>
            <h2>Preparation</h2>
            <div class="ui divider"></div>
            <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Cursus metus aliquam eleifend mi in. Urna molestie at elementum eu facilisis. Felis eget velit aliquet sagittis id. Varius sit amet mattis vulputate enim. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eget duis at tellus at urna condimentum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Duis ut diam quam nulla porttitor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Maecenas ultricies mi eget mauris pharetra et ultrices. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras.</p>
            <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Cursus metus aliquam eleifend mi in. Urna molestie at elementum eu facilisis. Felis eget velit aliquet sagittis id. Varius sit amet mattis vulputate enim. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eget duis at tellus at urna condimentum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Duis ut diam quam nulla porttitor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Maecenas ultricies mi eget mauris pharetra et ultrices. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras.</p>
            <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Cursus metus aliquam eleifend mi in. Urna molestie at elementum eu facilisis. Felis eget velit aliquet sagittis id. Varius sit amet mattis vulputate enim. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eget duis at tellus at urna condimentum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Duis ut diam quam nulla porttitor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Maecenas ultricies mi eget mauris pharetra et ultrices. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras.</p>
            <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Cursus metus aliquam eleifend mi in. Urna molestie at elementum eu facilisis. Felis eget velit aliquet sagittis id. Varius sit amet mattis vulputate enim. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eget duis at tellus at urna condimentum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Duis ut diam quam nulla porttitor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Maecenas ultricies mi eget mauris pharetra et ultrices. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras.</p>
            <h3>Sources</h3>
            <div class="ui divider"></div>
            <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Cursus metus aliquam eleifend mi in. Urna molestie at elementum eu facilisis. Felis eget velit aliquet sagittis id. Varius sit amet mattis vulputate enim. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Eget duis at tellus at urna condimentum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Duis ut diam quam nulla porttitor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Maecenas ultricies mi eget mauris pharetra et ultrices. Faucibus interdum posuere lorem ipsum. Est pellentesque elit ullamcorper dignissim cras.</p>
      </div>
    </div>
  </body>
</html>