<% include ./partials/header %>

<h1>Welcome! The landing page is working properly!</h1>
<div class="ui list">
    <div class="item">
        <a class="ui button big red" href="/datasearch">Database Search</a>
        <a class="ui button big purple" href="/diet">Diet Creation</a>
        <a class="ui button big green" href="/auth/login">Login</a>
        <a class="ui button big orange" href="/cart">Cart</a>
    </div>
</div>

<div class="ui horizontal divider">Quick Links</div>

<div class="ui list">
    <div class="item">
        <a class="ui mini button blue" href="https://trello.com/b/FCpWiNRq/dog-nutrition">Trello Page</a>
    </div>
    <div class="item">
        <a class="ui mini button black" href="https://github.com/aggie-coding-club/Dog_Nutrition_Plus">Github Repository
            Page</a>
    </div>
</div>


<% include ./partials/header %>