<% include ./partials/header %>

<div class="ui four column grid">
    <div class="row">
        <div class="column">
            <h1>
                <%= docs[0].NDB_No %>:
            </h1>
        </div>
    </div>
    
</div>

<a href="/datasearch" class="ui button blue">Go back to data search</a>

<% include ./partials/footer %>