<% include ../partials/header %>
<!-- <link rel="stylesheet" href="../stylesheets/dietcreation.css"> -->

<h1>Diet Creation</h1>

<div class="ui grid">
    <div class="eight wide column">
        <div id="statusSheet">
            <h3>Status Sheet</h3>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui grid">
            <% for(let i = 0; i < foodObjects.length; i++){ %>
            <div class="eight wide column">
                <div class="food">
                    <h5><%= foodNames[i] %></h5>
                    <div class="ui input">
                        <input class="amountInputs" type="number" value="<%= foodObjects[i].food.Amount %>" min="0">
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>


</div>



<!-- <form>
    <div class="ui input">
        <input type="text">
    </div>
    <a class="ui button yellow">Submit</a>
</form> -->

<div>
    <a class="ui button blue" href="/">Back to landing page</a>
</div>

<script type="text/javascript" src="../scripts/dietcreationlive.js"></script>

<% include ../partials/footer %>