<% include ../partials/header %>
<!-- <link rel="stylesheet" href="../stylesheets/dietcreation.css"> -->

<h1 id="title">Diet Creation</h1>

<div id="infoScreen">
    <span id="targetGroup">Defined name</span>
</div>

<div class="ui grid" id="dayHolder">
    <div class="two wide column daySpace">
        Day 1
    </div>
    <div class="two wide column daySpace">
        Day 2
    </div>
    <div class="two wide column daySpace">
        Day 3
    </div>
    <div class="two wide column daySpace">
        Day 4
    </div>
    <div class="two wide column daySpace">
        Day 5
    </div>
    <div class="two wide column daySpace">
        Day 6
    </div>
    <div class="two wide column daySpace">
        Day 7
    </div>
</div>

<div>
    <a class="ui button blue" href="/">Back to landing page</a>
</div>

<script type="text/javascript" src="../scripts/dietcreationlive.js"></script>

<% include ../partials/footer %>