<% include ../partials/header %>

<h1>Diet Creation</h1>

<form>
    <div class="ui input">
        <input type="text">
    </div>
    <a class="ui button yellow">Submit</a>
</form>

<div>
    <a class="ui button blue" href="/">Back to landing page</a>
</div>

<% include ../partials/footer %>